*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body{
    padding: 20px;
    background-color: #F8F8F8;
}

/*选中样式*/
.active{
    border: 2px solid plum;
}

.color-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    gap: 5px;
}
.color-card div{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.black{
    background-color: black;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.canvas{
    position: relative;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px #e5e5e5;
    margin-top: 5px;
    margin-bottom: 10px;
}

#resize-handle{
    position: absolute;
    right: -7px;
    bottom: 10px;
    width: 5px;
    height: 5px;
    border: 1px solid black;
    cursor: nwse-resize;
}